#background {
    position: absolute;
    width:100vw;
    height:100vh;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

#background::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* mix-blend-mode: overlay; */
   backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 50%, black 100%);
  mask-image: radial-gradient(ellipse at center, transparent 50%, black 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: large;
    z-index: 10;
    margin-bottom: 10px;
    height: 30px;
    
}

.block {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.75);
    color:rgba(255, 255, 255, 0.66);
    padding:14px;
    margin:4px;
    border-radius: 14px;
}

#header span {
    display: block;
    margin: 0;
    padding:0;
}

#header span:hover {
    color: #ff6767;
    cursor: pointer;
    
}

#logo {
  max-width: 100%;
  max-height: 100%;

}

[selected] {
    color: #ff6767;
    font-weight: bold;
    font-size:larger;
}

body {
    background-color: rgb(32, 32, 32);
    font-family: monospace;
    margin:0;
}







.sk-cube-grid {
  width: 10vh;
  height: 10vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ffffffc9;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}