[selected] {
    color: #7e83ff;
}
* {
    overflow-x: hidden;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    border-radius: 14px;
    width: 50vw;
    max-width: 850px;
    display: flex;
    gap: 4px;
}

#second-column {
    margin-bottom: 300px;
}

.project-card {
    margin: 0 !important;
}

.column {
    gap: 4px;
    display: flex;
    flex-direction: column;
    flex:1;
}

.project-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease;
    overflow: hidden;
}

.project-body>* {
    min-height: 0;
    overflow: hidden;
}

.project-card:hover .project-body {
    grid-template-rows: 1fr;
}

.project-body p {
    margin-top: 10px;
}
h4 {
    margin: 0 0 6px 0;
}

.project-endcap {
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
    margin-top: 12px;
    min-width: 100%;
    max-height: 60px;
}

.project-header p {
    opacity: .75;
}

.link-btn {
    padding: 12px;
    background-color: #0000f6a7;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff42;
    border-width: 2px;
    align-content: center;
    text-align: center;
    margin: 0;
    font-family: monospace;
    flex-grow: 1;
    min-width: 60px;
    margin-left: auto;
    hyphens: auto;
    align-self: flex-end;
    height: 20px;
}


.link-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;

}

.project-header {
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin: 0;
    flex-grow: 1;
    align-items:flex-end;
}

.skill {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 4px 8px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    align-content: center;
    font-size:smaller;
    opacity:.75;

}

h3 {
    margin: 8px 0 0 0;
    font-weight:normal;
    opacity:.75;
}

h2 {
    letter-spacing: .05em;
    margin: 0;
    margin-bottom: 10px;
    font-size:larger;
    font-weight: bold;
}

p {
    margin: 0;
}

.project-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

#meta-wrapper {
    pointer-events: none;
    width: 100%;
    aspect-ratio: 16/10;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}

#meta {
    pointer-events: all;
    width: 250% !important;
    max-height: unset;
    height: 250% !important;
    transform: scale(0.4);
    transform-origin: top left;
    border-width: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#mobile-spacer {
    display: none;
}

@media (max-width: 1100px) {
    #content {
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        max-width: 40vw;

    }

    .project-img {
        max-height: 30vh;
    }
}

@media (orientation: portrait) {
    #mobile-spacer {
        display: block;
        height: 78vh;
    }

    #content {
        position: relative;
        align-self: center;
        width: calc(100vw - 8px);
        max-width: initial;
        max-height: fit-content;
        gap:14px;
    }
    .column {
        gap:14px;
        padding:0 10px;
    }



}