#my-pdf {
    position: absolute;
    top:0;
    right:0;
    width: 50vw;
    height: calc(100vh - 36px);
}
#mobile-spacer {
    display: none;
}

@media (max-width: 1000px) {
    #my-pdf {
        position:relative;
        width: calc(100vw - 36px);
        height: calc((100vw - 36px) / 0.7727272727);
        margin-bottom: 100px;
        
    }
    #mobile-spacer {
        display: block;
        height: 70dvh;
    }

}

[selected] {
  color: #3ea885;
}
